@using Task1ASP.Models
@model IEnumerable<Comment>
@{
    ViewBag.Title = "Main page";

}
@{
    Html.RenderPartial("CommentPartial", new Comment());
}
<div>
    @foreach (var b in Model)
    {
        <div class="item row itemcomment ">
            <div class="col-md-2">
                <div class="img-block">
                    <div>@b.Date </div>
                </div>
            </div>
            <div class="col-right col-md-10">
                <div class="title"><h5>@b.Author</h5></div>
                <div class="description ">
                    @b.Text
                </div>
            </div>
        </div>

    }
</div>
<br />